<div class="flex items-center justify-center space-x-2">
  <svg
    [ngClass]="{
      'h-4 w-4': size === 'sm',
      'h-12 w-12': size === 'md',
      'h-20 w-20': size === 'lg',
    }"
    class="animate-spin text-blue-600"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4" />
    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z" />
  </svg>

  <span *ngIf="showText" class="text-sm text-white dark:text-gray-300">Cargando...</span>
</div>
